# Custom
wandb
.vscode
outputs
results/figures
experiments
checkpoints
saved_runs
dataset
dataset_mcts
*.tar.gz
.venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

